<h1>El alumno más molón {{molon}}</h1>

<h3>Las Islas Canarias tienen las siguientes islas:</h3>
<ul>
    {{#each islands}}
    <li>{{this}}</li>
    {{/each}}
</ul>

<p>One nice airport is {{airport.0.name}}</p>
<p>One nice airport in the UK is {{UKAirport.0.name}}</p>